.soul {
    position: relative;
    background-image: url('/img/background_image2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 4rem 1.5rem;
    color: #F5E9D3;
    z-index: 1;
    margin: 0 auto;

}

.soul::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Ajustá el valor: 0.1 = leve, 0.5 = fuerte */
    z-index: -1;
}



.soul__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    opacity: 0;
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: 0.2s;
}

.soul__block--reverse {
    flex-direction: row-reverse;
}

.soul__image {
    flex: 1;
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

.soul__text {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    max-width: 600px;
    font-size: 1.05rem;
    line-height: 1.7;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
}

.soul__text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.soul__text p {
    font-family: 'Lora', serif;
    font-weight: bold;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    .soul__block,
    .soul__block--reverse {
        flex-direction: column;
        text-align: center;
    }

    .soul__image {
        max-width: 100%;
    }

    .soul__text {
        padding: 1.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .soul__text h2 {
        font-size: 1.5rem;
    }

    .soul__text p {
        font-size: 0.95rem;
    }
}