.discover {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: #F5E9D3;
    color: #1E352F;
}

.discover__container {
    max-width: 90vw;
    background-color: #F5E9D3;
    border-radius: 8px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    height: auto;
}

.discover__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.discover__icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;

}

.discover__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #1E352F;
    max-width: 120px;
    text-align: center;
    max-width: 150px;
    font-size: 1rem;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.discover__item:hover {
    color: #f39c12;
    transform: translateY(-5px);
}

.discover__item p {
    margin-top: 0.5rem;
}

.discover__gallery {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.discover__gallery img {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease, filter 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.discover__gallery img:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.button-mirror {
    position: relative;
    overflow: hidden;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #1E352F;
    color: #f5e9d3;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-mirror::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    pointer-events: none;
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.button-mirror:hover::before {
    animation: mirror-shine 0.7s ease-in-out;
    opacity: 1;
}

@keyframes mirror-shine {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@media (max-width: 600px) {
    .discover__title {
        font-size: 1.5rem;
    }

    .discover__icons {
        gap: 2rem;
    }

    .discover__item {
        font-size: 1rem;
    }

    .discover__gallery {
        gap: 1rem;
    }

    .discover__gallery img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .discover__button {
        width: 100%;
        max-width: 280px;
        margin: auto;
    }
}